<h1>Post Index</h1>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.subtitle %>
  <%= "By: #{User.find_by(id: post.user_id).user_name}" %> <br/>
  <%= post.content %>
  <h3><%= post.audits.inspect %></h3>
<% end %>
